@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800 text-slate-200;
  }
}

@media (min-width: 1170px) {
  .xl\:block {
    display: block;
  }
}

@media (max-width: 970px) {
  .prose {
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
  }
}

@media (min-width: 2040px) {
  .prose {
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    max-width: 100ch;
  }
}